@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.frontPage{
    height: 600px;
    background-image: url(images/x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    
}
.container{
    top: 300px;
    height: 500px;
    width: 500px;
    background-color:rgb(237, 106, 35);
    position: relative;
    border-radius: 30px;
    display: grid;
    place-content: center;
    border: 2px solid blanchedalmond;
    margin-right: 150px;
    margin-left: 130px;
    padding: 30px;
}
.inputContent{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
input{
    height: 50px;
    width: 250px;
    padding-left: 10px;
    border-radius: 10px;
}
.inputContent button{
    height: 50px;
    border-radius: 10px;
    padding: 0px 10px;
}
.outputContent{
    display: flex;
}
textarea{
    border-radius: 10px;
    padding: 5px 10px;
    height: 50px;
}
.copy{
    margin-left: 20px;
    margin-top: 10px;
    height: 10px;
    width: 10px;
}
.footer{
    height: 300px;
    background-color:orange;
}
#text{
    font-size: 30px;
    padding-bottom: 80px;
    font-weight: 300;
    text-decoration: underline;
}
.submit:hover {
    background-color: #3e8e41;

}

.submit:active {
  background-color: #3e8e41;
  box-shadow: 0 5px rgb(244, 191, 94);
  transform: translateY(4px);
}
@media (max-width:550px){
    .frontPage{
        height: 300px;
    }
    .container{
        top: 150px;
        height: 400px;
        width: 300px;
        margin-top: -50px;
    }
    input{
        height: 30px;
        width: 150px;
    }
    .inputContent button{
        height: 30px;
    }
    #text{
        font-size: 20px;
    }
    textarea{
        height: 30px;
    }
    .copy{
        height: 8px;
        width: 10px;
        margin-left: 2px;
    }
}
@media (max-width:400px){
    .container{
        top: 300px;
        height: 400px;
        width: 300px;
        margin-top: -150px;
    }
    input{
        height: 30px;
        width: 150px;
    }
    .inputContent button{
        height: 30px;
    }
    #text{
        font-size: 20px;
    }
    textarea{
        height: 30px;
    }
    .copy{
        height: 8px;
        width: 10px;
        margin-left: 2px;
    }
    .footer{
        height: 600px;
        
    }
}